{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboard_sidbar.html' %}
	<main class="col-md-9">
		<article class="card" style="text-align:center:">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edit yor profile:</strong>
			
			
		</header>
		<div class="card-body">
            <div class="text-center">
                <img src="{{userprofile.profile_picture.url}}" width="100" style="border-radius:50px;" alt="userprofile photo" >
                </div>
                <br>
			<div class="row">

		<div class="col-md-12">
		<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token %}
            <div class="form-row">
                <div class="form-group col-mb-6">
                <label >First Name</label>
               {{user_form.first_name}}
                </div>
                <div class="form-group col-mb-6">
                    <label >lastt Name</label>
                    {{user_form.last_name}}
                    </div>
    
                    <div class="form-group col-mb-6">
                        <label >Phone Number</label>
                       {{user_form.phone_number}}
                        </div>
                    </div>
                        <div class="form-group col-mb-6">
                            <label >Profile picture</label>
                            {{profile_form.profile_picture}}
                            </div>
                            <div class="form-group">
                                <label >Address line1</label1>
                                {{profile_form.address_line_1}}
                                </div>
                
                                <div class="form-group">
                                    <label >Address line2</label1>
                                   {{profile_form.address_line_2}}
                                    </div>
                                    <div class="form-group col-mb-4">
                                        <label >City</label1>
                                        {{profile_form.city}}
                                        </div>
                        
                                        <div class="form-group col-mb-4">
                                            <label >state</label1>
                                                {{profile_form.state}}
                                            </div>
                                            <div class="form-group col-mb-4">
                                                <label >country</label1>
                                               {{profile_form.country}}
                                                </div>
            
         </div>
         <input type="submit" value="Save" class="form-control btn btn-primary">
    </form>

</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
	
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}